<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Presentes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/lista_de_presentes.css' %}">
    
</head>
<body>
     <header class="header">
        <h1>Ailka & Vínicius</h1>
    </header>
    <main>
        <p class="p1">Lista de Presentes</p>
        <div class="content">
        <ul class="Presentes">
            <li>
                <a href="#">
                    <img src="/SiteDeCasamento-main/Assets/presente.jpg" width="200px"><br>
                    <span><strong>PRESENTE</strong></span><br>
                    <span><strong><u>PREÇO</u></strong></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/SiteDeCasamento-main/Assets/presente.jpg" width="200px"><br>
                    <span><strong>PRESENTE</strong></span><br>
                    <span><strong><u>PREÇO</u></strong></span>
                </a>
            </li>
            <li><a href="#">
                <img src="/SiteDeCasamento-main/Assets/presente.jpg" width="200px"><br>
                <span><strong>PRESENTE</strong></span><br>
                <span><strong><u>PREÇO</u></strong></span>
            </a>
            </li>
            <li><a href="#">
                <img src="/SiteDeCasamento-main/Assets/presente.jpg" width="200px"><br>
                <span><strong>PRESENTE</strong></span><br>
                <span><strong><u>PREÇO</u></strong></span>
            </a>
            </li>
            <li><a href="#">
                <img src="/SiteDeCasamento-main/Assets/presente.jpg" width="200px"><br>
                <span><strong>PRESENTE</strong></span><br>
                <span><strong><u>PREÇO</u></strong></span>
            </a>
            </li>
            <!-- Outros produtos aqui -->
        </ul>
              <div>
              <h4>
                  Projeto de Site de casamento
                </h4></div>
        </div>
    </main>
</body>
</html>